@{
    ViewData["Title"] = "Weekday Grind";
}
<div class="bg-success p-4 shadow" style="border-radius:30px;">
    <h3>@ViewBag.Greeting</h3>
    <hr />
    <h3>Quotes by Dr Seuss</h3>
    <h4>"Sometimes the questions are complicated and the answers are simple."</h4>
    <h4>"It is better to know how to learn than to know."</h4>
    <h4>"It's not about what it is, it's about what it can become."</h4>
    <h4>"It is better to know how to learn than to know."</h4>
    <hr />
</div>