<img src="~/Images/smoke.jpg" class="img-fluid" style="position:absolute;top:0px;left:0px;z-index:-1;width:100%;" />
<div class="bg-light p-4 rounded-left" style="opacity:.8;width:50%;">
    <h2>You are an experienced Genie</h2>
    <h3>You are hired...</h3>
</div>