@{
    ViewData["Title"] = "Genie Accessories";
}

<section class="row">
    @if (ViewBag.Posted == false)
    {
        <div class="col-md-6">
            <h2>Perks</h2>
            <form method="post">
                <div class="form-group">
                    <label class="col-form-label">Type of Housing:</label>
                    <select name="perk" class="form-control">
                        <option>Bottle</option>
                        <option>Townhouse</option>
                        <option>Condo</option>
                        <option>RV</option>
                        <option>Home</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Transportation:</label>
                    <select name="perk" class="form-control">
                        <option>Flying Carpet</option>
                        <option>Convertible</option>
                        <option>SUV</option>
                        <option>Bicycle</option>
                        <option>Motorcycle</option>
                        <option>NA - I can blink and transport</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Ammenities (CTL + Click for more than 1):</label>
                    <select name="perk" class="form-control" multiple>
                        <option>Pool or Lake</option>
                        <option>Gym</option>
                        <option>Cook</option>
                        <option>Cleaning Staff</option>
                    </select>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <img src="~/Images/Genie.png" alt="Genie" class="rounded shadow" />
        </div>
    }
    else
    {
        <div class="col-md-6">
            <h2>You selected the following perks</h2>
            <ul>
                @foreach (var geniePerks in ViewData["Perks"] as IList<string>)
                {
                    <li>@geniePerks</li>
                }
            </ul>
        </div>
    }
</section>