﻿@{
    ViewData["Title"] = "Testing View Bags, View Data and Temp Data";
}

<div class="text-center p-5 m-0 bg-dark text-light">
    <h1 class="display-4">Testing Wish Lists with View Bags, View Data and Temp Data</h1>
    <img src="~/Images/Genie.png" style="position:relative;top:0;right:0;" />
</div>
